@page "/"

<PageTitle>Developer Portfolio</PageTitle>

<h1>Developer Portfolio</h1>


<img src="data:image/png;base64, @BlobStorageService?.GetImage("cascade-terrace-landscaping-home-profile.png")" />